[2013-05-19 07:07] abhshkdz opened #1 "Push the db schema to the repo"
Just dump the db schema with a few sample rows, so that other developers can set up the framework for testing and development.

[2013-05-20 09:45] #1 closed, assigned to rash805115

[2013-05-27 03:09] rash805115 opened #2 "Last Commit"
The last commit "f46151867b98e8e9267431975cc97d372e712b67" somehow went bad. It was my fault. Please check if all your files are intact.

[2013-05-27 16:24] #2 closed, assigned to abhshkdz

[2013-06-01 10:05] rash805115 opened #3 "Location and Sanitization"
1) Serialize all values

[2013-06-01 10:06] rash805115 opened #4 "DB closing"
Hi..have you put any function to properly close DB?

[2013-06-01 10:11] #4 closed, assigned to abhshkdz

[2013-06-27 22:09] abhshkdz opened #5 "HTTP Request Handling library"
This issue is meant to serve as a placeholder for all discussions regarding the http request handling library.

[2013-06-27 22:12] #5 closed, assigned to abhshkdz

[2013-06-30 11:39] abiusx opened #6 "HTTP Request Library issues"
1. The tainted classes should be moved somewhere else, probably in a different file in the same folder.
2. There's no need for the data array to be a different object. Inherit HTTP Request from it and other methods are static. Make the array interface abstract
3. IsCLI should be protected. Outsiders won't look for that in a HTTPRequest class
4. Add two more methods, namely Path and application Pat

[2013-06-30 16:45] abiusx opened #7 "Trash Folder"
Remove the trash folder please, we're using a version control not a directory. If we need something later, we have it in the history track.
someone that pulls this project gets all those files, and it increases the size considerably.

[2013-06-30 16:52] abiusx opened #8 "Session Class"
1. When a function throws exceptions, it should indicate them in its PHPDOC at the top using @throws headers. This way uses will know what possible errors occur in the method, and handle them appropriately without looking into the source code.
2. You have too much code, specially in getters and setters, that are never used. setInactivityTimeout and stuff like that, they just make the code look com

[2013-06-30 16:55] abiusx opened #9 "Advanced Password Management"
Advanced password management is extending User, which is very odd! Either the User is not the User class (maybe its UserManagement, and not a single user?) or advanced password management is not about password management, but extended user management.

All those setters and getters need to go away. Code that when you write, feels not smart, should not be there. Code is art, and its only something

[2013-07-01 16:05] #7 closed, assigned to rash805115

[2013-07-01 16:08] rash805115 opened #10 "clear Db after every test"
Look for any potential data before you exit the test files. The best way to do this is to define the function tearDown() and use SQL statements to remove any data that is still in the DB.

[2013-07-01 16:12] rash805115 opened #11 "change your codes according to coding conventions"
Double check your codes so that it meets the coding convention. Also files made by other authors should meet the style for uniformity.

Codes must not look like two different people made this.

[2013-07-01 16:17] rash805115 opened #12 "Merge test codes for test cases under /test/libs/security/"
Just to test cookies, you made a different file. That is unprofessional. Find a way to merge that file into the original test file.

[2013-07-02 13:57] #8 closed, assigned to rash805115

[2013-07-03 18:19] abiusx opened #13 "Authentication Library"
I see a lot of flaws here.
First, you have two or three very long classes in one file. That is not right.

Second, every static function in BasicPasswordManagement is public. Refer to the convention for access.

Third, User extends BasicPasswordManager. This is essentially wrong. A user does not have a salt. A user might have a password, and that password might have salts and all.
1. You should no

[2013-07-03 18:22] #10 closed, assigned to rash805115

[2013-07-03 18:25] #9 closed, assigned to rash805115

[2013-07-03 18:31] abiusx opened #14 "Database Classes"
1. why is a file named model? filenames should reflect what they hold. If you're having it as a base database adapter, put in adapter as base. If it is database manager class, make it manager.php . Model.php is the worst name one can come up with.
2. same goes with db.php, I was actually going to find base class there. dbmanager.php is a perfectly valid filename. manager.php is the same.
3. db.php

[2013-07-03 18:42] abiusx opened #15 "HTTP Downloader"
1. I think its best to move this to http folder, since we're having libs for HTTP Request and HTTP Response.
2. Its better to change MIME function to use an array. It would be much faster than a lot of ifs. Extension in key, MIME type in value.
3. IsModifiedSince should be protected.
4. Same goes for calculate... , also remove underlines from this. http can be lowercase.
5. readFromFile doesnt hav

[2013-07-03 18:42] abiusx opened #16 "Essentials.php"
It violates all our rules, and is not required. Just a simple if!

[2013-07-03 18:43] abiusx opened #17 "Error Handler"
1. Filename is inappropriate.
2. It has very little functionality.
3. It should be as transparent as possible.

I'll try to do this one

[2013-07-03 18:45] abiusx opened #18 "Core Libs, random"
all files are uppercse.
rand -> random

randLen is a bad name
random is private

generateRandom is a bad name
seed should be protected

[2013-07-03 19:06] #16 closed, assigned to rash805115

[2013-07-03 22:35] #14 closed, assigned to abhshkdz

[2013-07-04 03:07] #15 closed, assigned to rash805115

[2013-07-07 01:54] MysterAitch opened #19 "Add 'code-style' tag for issues"
There appear to be a few issues around pertaining to code-style - naming conventions, appropriate use of parameters and the like.

Would you mind tagging these with a 'code-style' tag (or equivalent), as opposed to the 'enhancement' tag?

[2013-07-07 12:14] MysterAitch opened #20 "Code style"
A few times code style has been mentioned, but I am not sure what the appropriate code style is. Is there a preferred guide located on t'interwebs, perchance?

I have just created a new wiki page containing a few notes with the bits and pieces I have picked up so far - it is very much incomplete and mostly for personal use / reference, but I believe it would be beneficial to add to it every once i

[2013-07-07 12:28] #20 closed, assigned to nobody

[2013-07-07 18:49] rash805115 opened #21 "handle error if DB Connection is not set properly."
The new modified file DatabaseManager contains an SQL function. IF in that function the connection is not set by the user properly, ERROR is thrown that call to function on null object. We have to handle this error.

[2013-07-07 19:04] #13 closed, assigned to rash805115

[2013-07-07 19:05] rash805115 opened #22 "User Management"
I believe you need a user class, and a user management class. You can also put those management functions (such as edit, create, delete) in the same User class, but as static methods.

[2013-07-07 19:05] #11 closed, assigned to rash805115

[2013-07-07 19:07] #19 closed, assigned to nobody

[2013-07-07 23:24] #18 closed, assigned to rash805115

[2013-07-09 05:38] #12 closed, assigned to rash805115

[2013-07-09 05:54] #21 closed, assigned to nobody

[2013-07-09 19:16] rash805115 opened #23 "Check User Dependencies before deleting users."
Before deleting user from database, check for dependencies. Because data such as session and password depends on user. Deleting user directly without checking for those would result in Foreign Key Constraint.

[2013-07-10 02:14] #23 closed, assigned to rash805115

[2013-07-10 10:15] #22 closed, assigned to rash805115

[2013-07-17 10:46] vanderaj opened #24 "Static salt - move to configuration"
Static salts should be per app, per instance. Please move  user.php :: staticSalt to a configuration file to allow the users of the library to override it. It must be a user serviceable value.

If it's buried deep in a library, it's not really a special value. We found that out in Ruby on Rails a few times.

[2013-07-17 11:02] vanderaj opened #25 "One line if statements"
Please always use braces, even if it's only one line. It's also in the PSR that this project uses.

Wrong:

[code]

Right:

[code]

The wrong way is a constant source of maintenance bugs, so let's just be strict about it.

[2013-07-17 11:04] vanderaj opened #26 "hasKeyboardOrderedCharacters is not localized"
Yes, US keyboard like a zillion keyboards out there, but I think you need to provide a way to supply other common keyboards, like AZERTY and so on.

[2013-07-17 11:08] vanderaj opened #27 "user::resetPassword() is a DoS waiting to happen"
Attackers can use resetPassword in two ways:

a) enumerate valid user account names
b) denial of service users by causing their password to be reset

The design of the resetPassword must cope with providing business logic in such a way that account enumeration is not possible.

I strongly suggest that resetPassword does not change the user's password until the temporary token supplied to them is v

[2013-07-17 11:24] vanderaj opened #28 "user::rememberMe() review"
The code on line 698 doesn't check that the userID value in the session is set before using it in a query. This should be improved.

The code assumes if $this->session[0] exists, that $this->session[1] exists and contains a valid userID value. Neither of these things may be true. Please test for variable existence before relying on them.

The code on line 703 doesn't check that the AUTHID cookie i

[2013-07-18 02:36] #25 closed, assigned to nobody

[2013-07-19 22:42] #6 closed, assigned to abhshkdz

[2013-07-25 22:49] SvenRtbg opened #29 "Library violates all PSR standards because of the coding exceptions made."
I am sad to state that this library currently limits it's usefulness by ignoring any of the good PSR standards - and PSR-0 as the most basic and useful standard for autoloading.

PSR-2 states that PSR-1 must be followed. PSR-1 states that PSR-0 must be followed for namespaces and classnames. And PSR-0 has the following mandatory requirements:
- A fully-qualified namespace and class must have the f

[2013-07-26 00:16] SvenRtbg opened #30 "HttpRequest::portReadable() does not return a value"
[code]

[2013-07-26 00:36] SvenRtbg opened #31 "HttpRequest::URL() and HttpRequest::ChangeProtocol incorrectly use HttpRequest::ServerName()"
The correct value of the currently requested URL must use the value from HTTP_HOST, because that is the value the client actually used for the request.

Note that SERVER_NAME actually IS the value from HTTP_HOST if the Apache VHost is configured with `UseCanonicalName off` - in this case the error does not occur. Setting it to "on" will lead to wrong results if there are entries for `ServerAlias`.

[2013-07-26 00:44] SvenRtbg opened #32 "HttpRequest accesses the modified $_SERVER without decontaminating values."
Any access inside this class that reaches for $_SERVER['HTTP...'] values has to decontaminate them - otherwise an error is triggered.

[2013-07-26 00:51] SvenRtbg opened #33 "\phpsec\confidentialString() function is declared twice in the codebase."
There are two occurrences of this function:

/libs/core/functions.php
/libs/crypto/confidentialstring.php

[2013-07-26 06:43] SvenRtbg opened #35 "Several occurances of "<br>" inside the exception message string."
Exception messages should not assume anything about how the message will be presented to the user. If any formatting is desired, it would be the task of the error display routine.

Additionally, making the message contain the HTML markup also means that any dynamic values must be brought into HTML context, i.e. they must be htmlspecialchars-escaped. Otherwise the resulting string could not be used

[2013-07-27 04:49] #35 closed, assigned to nobody

[2013-07-27 04:49] #33 closed, assigned to nobody

[2013-07-29 06:29] #30 closed, assigned to nobody

[2013-07-30 21:29] abiusx opened #48 "Scanner Parser"
You are using regexp to consume code, its invalid. Use php parser (like the one used in jwidget) to parse, also move tools folder out of libs.

[2013-08-01 21:28] #48 closed, assigned to rash805115

[2013-08-01 22:34] SvenRtbg opened #49 "call-time-pass-by-reference is used"
This feature is deprecated in 5.3 and exits with a fatal error in 5.4 and 5.5.

[2013-08-01 22:40] SvenRtbg opened #50 "BasicPasswordManagement::hasOrderedCharacters does not involve string encoding"
The function will work with ASCII as usual, but whenever it comes to more unusual characters, especially from other languages and in different encodings, things will get interesting.

[2013-08-01 23:04] #49 closed, assigned to nobody

[2013-08-02 21:26] SvenRtbg opened #52 "confidentialString incorrectly modifies the code."
I have this line of code in a test:

[code]

After running the test (which is successful), this line gets converted into this:

[code]

Note the syntax error introduced: A closing parenthesis is missing.

[2013-08-02 21:29] SvenRtbg opened #53 "confidentialString incorrectly converts the string back to its original value."
This should be a successful test, because the encrypted string is the direct result of a previous call (and manual fixing the resulting syntax error).

$this->assertSame("root", confidentialString(':/X6NSUlAagxmmLNWRZBA8fyJbmQZmAB7VcgzHHfTxwA='));

The test is failing because the returned result of confidentialString appends an amount of zero-bytes. This will affect the usage of the string in unde

[2013-08-03 04:16] #52 closed, assigned to nobody

[2013-08-03 04:16] #53 closed, assigned to nobody

[2013-08-03 06:31] #17 closed, assigned to rash805115

[2013-08-03 17:10] rash805115 opened #55 "Run static parser to check for "o/p" in the code and replace with echof"
We have to run the static parser to determine where we have used "echo" and "print" statements which are insecure. We have to replace them using echof

[2013-08-05 20:00] rash805115 opened #56 "remove date_default_timezone_set() from Time class"

[2013-08-09 15:32] #56 closed, assigned to rash805115

[2013-08-09 18:10] #55 closed, assigned to nobody

[2013-08-12 22:16] SvenRtbg opened #59 "The "tabs" vs. "spaces" issue"
I'd really like to see this project implement a no-tabulator policy for the source code. It's the only true deviation from all the PSR coding standards, and it is painful.

Can we simply revert this decision without much ado?

[2013-08-13 00:08] SvenRtbg opened #60 "DownloadManager::downloadSpeed incorrectly html-escapes the downloaded file."
Why "echof" near line 230?

echof(fread($f, $advanceBy)); //read the specified number of bytes.

[2013-08-27 20:55] SamanthaGroves opened #62 "Test"
Please disregard.

[2013-08-27 22:17] #62 closed, assigned to nobody

[2013-09-02 13:02] shivamdixit opened #63 "AdvancePasswordManagement::isBruteForce() is not correctly implemented"
isBruteForce must return "TRUE" if time between two consecutive attempts is less than "bruteForceLockTimePeriod" , but according to the definition it will return TRUE only when time when last login attempt is less than bruteForceLockTimePeriod as well as total login attempts have exceeded bruteForceLockAttempts. Below is one of the definitions of "Brute Force" described in the class :

public stat

[2013-09-03 13:06] shivamdixit opened #65 "Storing static salt in database"
In auth library, "user.php" which is used for implementing basic password management when creating a "newUserObject", the static salt is also stored in the database. If database is compromised the attacked will have static salt, dynamic salt, hash as well as hashing algorithm which will ease his task of reverse lookup! Is it really
required to store static salt if it is going to be same for all us

[2013-09-11 16:00] #65 closed, assigned to nobody

[2013-09-11 16:08] rash805115 opened #66 "Hashing Algo and Concat of hash+dynamic salt"
1) In recent discussions, Shivam mentioned that hashing algo must not be in DB because that reveals too much info in case the DB is compromised. So, if we have to remove the hashing algo from the DB, then that means that the algo would have to be same for all users now [now the developer has the option to keep different algo for different users].
What will happen now is that once the admin changes

[2013-09-11 16:25] rash805115 opened #67 "use of bcrypt as a hashing algo"
Hello All,

It was suggested by Abhay, that we should use bcrypt for storing passwords for the reason that its slow. So, even if someone does brute force, it would be slow and provides additional security.

[2013-09-17 08:22] mebjas opened #68 "overhead in session library?"
in session library there is a code segment: in existingSession() function line 128-136
$sessionID = $_COOKIE['sessionid'];
$result = SQL("SELECT `SESSION_ID`, `USERID` FROM SESSION WHERE `SESSION_ID` = ?", array($sessionID));
        if (count($result) != 1)
        {
            $this->updateUserCookies(TRUE);
            return FALSE;
        }
        $this->session = $result[0]['SESSION_ID'];

[2013-09-17 20:16] SvenRtbg opened #69 "Bad random session ids due to bad Rand::random randomness"
I think the was that session ids are generated is not very random. And this is concealed because of  a layer of function calls that all look very good. Please follow me on the code path:

Let's start at Session::newSession https://github.com/OWASP/phpsec/blob/master/libs/session/session.php#L101

As you can see, there is a call to the function `random(32)`, which promises to deliver 32 random char

[2013-09-18 18:18] #68 closed, assigned to rash805115

[2013-09-19 02:55] #66 closed, assigned to nobody

[2013-09-19 07:59] #63 closed, assigned to nobody

[2013-09-19 08:49] #24 closed, assigned to nobody

[2013-09-19 08:51] #28 closed, assigned to nobody

[2013-09-19 08:54] #27 closed, assigned to nobody

[2013-10-16 06:52] rash805115 opened #71 "auto removal of outdated session and their data in some time interval"
Right now, if a user stores some session data and never accesses it, then it will be present there forever until the user tries to access it again, at which point, the user sees that the session has expired, and deletes that session.

But if the user never accesses that data, then it is unnecessarily storing that data. So, we can remove that data monthly or weekly. For this, a PHP script needs to

[2013-10-20 02:05] rash805115 opened #72 "Last login"
Right now, there is no such thing as last login time. So for this reason, we cannot tell that when was the last time that the user logged in.

To do this I need to do a small change...Will do.

[2013-10-25 06:28] mebjas opened #74 "need for isUserIdValid() in session library"
**Paulo Guerreiro** recently added **functions to check validity of userID** in **auth library** (user.php)
https://github.com/paulocmguerreiro/phpsec/commit/5c77aa91a96809fb3d60a3d208da95a4bc865d5e

**We need to extend this capability to session library as well** as it uses userId for all important tasks.

[2013-10-25 13:26] #74 closed, assigned to nobody

[2013-10-25 16:59] paulocmguerreiro opened #75 "Question: Rand Library"
While i was browsing the code i noted that there is the following line in \phpsec\libs\core\random in class Rand function random (line 52):

echo "hi" . "<BR>";

Is it supposed to be here?

[2013-10-26 20:52] rash805115 opened #78 "Session expires even when user is active"
While doing RNJ, I noticed that session expires after 30 min, even if the user is active. 30 min is the inactivity time.

When I backtraced this, I found that inactivity time is calulated by the time that the session cookie was created. Now, every time the user is doing something, the initial time is not changed, hence after every 30 min, the session expires.

Solution: In the session database, we

[2013-10-28 23:03] #75 closed, assigned to nobody

[2013-10-28 23:15] paulocmguerreiro opened #80 "Question : Session"
While adding last_activity update in Session class, this following two function seemed strange:

Session:newSession()
-Isn't there a possibility that randstr could create an already existing session_id, it could trigger a collision?

Session:existingSession()
-This function is blindly believing in $_COOKIE["SESSIONID"], is it not better to store some additional info with the session (IP, USERAGENT

[2013-10-29 04:09] #80 closed, assigned to nobody

[2013-10-30 17:07] mebjas opened #82 "doubt about error handling in session library"
while scrolling through session library I observed

if ($this->inactivityTimeout() || $this->expireTimeout())
 {
       throw new SessionExpired("ERROR: This session has expired.");
 }

at several places

now assuming that in a live web application the code written by the developer passes a session id which has been expired so is it ok to show an error message to user than to return a false value

[2013-10-30 17:31] #82 closed, assigned to rash805115

[2013-12-09 11:11] mebjas opened #83 "mail injection prevention"
@all long time no see :walking:

while reading about injection techniques I came around **mail injection**,  Should we not have **libraries for prevention of mail injection** or other minor vulnerabilities

Correct me if this has already been implemented!

[2013-12-11 18:34] mebjas opened #84 "Binding ip address with session"
Owasp cheat sheet for session management says we should bind session to ip address to make it more secure.
Why didnt we go for this in PHPSEC.?

[2014-02-19 22:14] mebjas opened #85 "brute force detection for time based bots"
I have a small doubt
In **adv_password lib** in **auth** section the function **isBruteForce()** checks for no of attempts in small period of time to declare it **brute force** or not.
But what if I set my bot to send request permissible under the given condition (of time)? and run it for a long time to get correct credentials?

Has it not been implemented because these type of attacks will take t

[2014-03-15 04:49] mebjas opened #89 "Modification in Rand::randstr() function required"
As mentioned by @SvenRtbg
Currently the Rand::randstr() function can generate a maximum of 128 character random string,
so the function should throw an exception if it cannot fulfill the programmers request for 1024 (or any no > 128) random characters. Also it should be mentioned in documentation.

[2014-03-25 16:09] shivamdixit opened #90 "Trailing whitespaces issue"
Most of the files are containing trailing white-spaces. It would be really nice to have a no trailing white-space policy in the project. I've removed all the trailing spaces in the files present so far. I will send a pull request shortly. And let's make sure that none are present in future commit.

[2014-03-29 19:05] #90 closed, assigned to nobody

[2014-06-09 08:56] #31 closed, assigned to abhshkdz

[2014-06-09 09:05] #59 closed, assigned to nobody

[2014-06-09 09:54] #29 closed, assigned to nobody

[2014-06-09 11:56] #71 closed, assigned to nobody

[2014-06-09 12:10] #89 closed, assigned to nobody

[2014-06-09 13:10] #72 closed, assigned to nobody

[2014-06-13 17:52] #78 closed, assigned to nobody

[2014-06-13 18:26] mebjas opened #101 "openssl_random_pseudo_bytes fails if openssl in not available"
I have php 5.4.7 installed in my windows machine which came bundled in XAMPP, and it didn't come precompiled with openssl. so it generates error at: https://github.com/OWASP/phpsec/blob/master/libs/core/random.php#L111

So in `Rand::randStr()` we shall use `openssl_random_pseudo_bytes()` only if its available

[2014-06-19 12:16] #101 closed, assigned to nobody

[2014-06-19 13:27] #26 closed, assigned to nobody

[2014-06-19 13:53] #69 closed, assigned to nobody

[2014-07-31 17:39] MysterAitch opened #103 "Flag 'suspicious' activity, with configurable threshold for reaction"
What I see as a cool feature would be to create a set of flags of 'potentially undesirable behaviour'. Each time something 'unusual' occurs, a flag on that session is set. The user of the library can then define a threshold on which they will act.

Examples of 'potentially undesirable behaviour' include:
 * IP block change (still in same subnet, vs completely new range)
* Geolocation change greate

[2014-12-25 16:31] hakre opened #104 "Coding Convention contradicts itself."
(All from here: https://github.com/OWASP/phpsec/wiki/Coding-Convention)

PSR-0 with "Class names are CamelCase" contradict to "All file names are lowercase".

You can't follow PSR-0 with exceptions. That makes no sense. You either follow PSR-0 or you roll your own (and PSR-0 is really easy to follow, I can't see why you want to make here exceptions).

[2014-12-30 12:23] #104 closed, assigned to nobody

[2015-11-19 17:15] asgrim opened #108 "confidentialString function uses hard-coded key"
https://github.com/OWASP/phpsec/blob/master/libs/crypto/confidentialstring.php#L37

This looks like a hard coded key that is publicly available on the internet, plain for anyone to see and easily decrypt anything encrypted by this function.

Please tell me it's not the case? :cry:

[2015-11-20 04:17] abhshkdz commented on #108
Wow. @rash805115 might be able to explain.

https://github.com/OWASP/phpsec/commit/8c63ac171460fc63dcd964a670a47600fddd54cc#diff-1fe90abdbf26c65bb2a047c0d7aab14eR31

[2015-11-20 04:33] rash805115 commented on #108
Hi @asgrim . The `$key` variable holds the key used to encrypt and decrypt, but the key given in the code is just a sample. Each developer while deployment will have their own key which will be secret to them. You might additionally ask why this variable is defined here and not in a config file, its because phpsec was intended to be individual plug and play libraries. Hence that single file should

[2015-11-20 08:50] asgrim commented on #108
@rash805115 the problem is, the "modern" way to use PHP libraries is to pull the library in using Composer etc. and configure things. People don't copy and paste classes from libraries into their code any more, and because that key is private, with no way of overriding the value, it is essentially unmodifiable.

I already noticed it has not been updated for a while after I sent my PR, and therein

[2015-11-20 09:09] AndrewCarterUK commented on #108
I too would offer my services to help on a new security project that did follow best security practices.

[2015-11-20 09:54] maccath commented on #108
Hi @rash805115 , I have some questions based on what you have just said, then.

How, apart from editing the phpsec Encryption class manually, do you expect users of the class to set their own key? It is a private variable, and there is no method available to set it to anything other than what is defined in the file itself. I don't see why you can't have a configuration mechanism in a plug-and-play

[2015-11-20 11:36] owaspjocur commented on #108
Hi Katy, Andre and Rahul

I think is important to mentioned this issue in the github, as you can see
indeed , the project is in incubator stage which means in an experimental
phase in 'owasp' terms

The project has not been updated for more than 10 months which is quite
dormant, if you take a look to owasp inventory of projects  in the category
of 'incubators' it happens quite often that projects

[2015-11-20 13:59] abiusx commented on #108
Where is the insecurity in that?
I just explained that the purpose of that encryption class is to hide sensitive information, not encrypt critical data.

[2015-11-20 13:59] abiusx commented on #108
We’d love to welcome you aboard.
The current PHP security project is outdated, by its main goals are to avoid bloat, and provide decoupled libraries, so that we don’t force developers to either integrate our entire platform or lose it all.

[2015-11-20 13:59] abiusx commented on #108
James,
One point you are missing is that the intent of this function is to hide, not encrypt, sensitive information, so that when someone passes by your screen, or leaks one file of your code, they do not immediately recognize your password.
Passwords still need to be part of the code, but hiding them is slighly better than having them in plain sight. It just involves a programmatic step of dehidi

[2015-11-20 14:19] asgrim commented on #108
That intent is not obvious, nor clearly documented. What looks like, to an untrained eye, an encryption technique (with classes called `Encryption` for example), is actually nothing more a vague obfuscation, nothing more secure than base64 encoding in reality.

The issue here is that this library is publicly accessible, it is under the trusted OWASP namespace on GitHub, and thus is likely consider

[2015-11-20 14:22] abiusx commented on #108
I see the point, but please read your comment again.
If we held everything to such standards, there would be no problems anywhere anytime.

[2015-11-20 14:39] asgrim commented on #108
Actually, I hold the opinion that if anyone should have the highest of
standards, it should be OWASP, as they are making recommendations on
security. If this is the perspective of the whole OWASP organisation, then
I'm afraid I'm going to have to stop recommending people look up OWASP.

I may have missed the point (please, someone point out something I
missed?), but leaving a private encryption ke

[2015-11-20 14:41] abiusx commented on #108
I personally am in more favor of solutiosn that work, instead of solutions that require you to do 1000 things so that a rarely possible problem is avoided.

We’ve had many of those projects at OWASP, and they have all failed because nobody uses them.

I’m not in favor of 100% security at any price.

[2015-11-20 14:50] AndrewCarterUK commented on #108
@abiusx

The class is called **Encryption** inside the **crypto** directory using AES and with variables named **$encryptedString**.

Please do not say that the point of this class is to "hide, not encrypt, sensitive information" - that is false. This class is an attempt at encryption and it is clearly advertised as that. Besides, **if the purpose is hiding sensitive encryption then encryption is

[2015-11-20 14:51] owaspjocur commented on #108
Hi James and Abbas

afraid I'm going to have to stop recommending people look up OWASP.

Please consider again that projects that are in incubator phase, are in an
experimental process. At this phase , the project is still in development
and is not ready for major stream use (please read the description what
means the incubator label)

https://www.owasp.org/index.php/OWASP_Project_Stages#tab=Incub

[2015-11-20 14:54] abiusx commented on #108
I agree. The class should be renamed. Its initial purpose was not to do encryption. It was to hide sensitive information.
Also it shouldn’t have hardcoded keys, but a default key would do no harm.

As for the points mentioned by James and Andrew, they are already discussed in this issue.

If they want to help, I’d really appreciate it.
I also asked him specifically to provide me with a few sentenc

[2015-11-20 14:57] AndrewCarterUK commented on #108
@owaspjocur

"Please consider again that projects that are in incubator phase, are in an
experimental process. At this phase , the project is still in development
and is not ready for major stream use (please read the description what
means the incubator label)"

This project hasn't had any significant development for months. The README doesn't mention how insecure this whole repository is and I d

[2015-11-20 14:59] abiusx commented on #108
I don’t see the point in emptying the repository.
A simple readme file will do the trick. Plus prior users can investigate the unsafeties, and new users can realize them.

Unfortunately I don’t have the time to make that change at the moment, and would appreciate your help if you’re willing.

[2015-11-20 15:02] AndrewCarterUK commented on #108
@abiusx - The point in emptying the repository is that it contains a plethora of insecure the code that could cause significant damage (financial, personal, etc...) to anyone mislead into trusting the OWASP namespace.

If you are seriously suggesting that we leave this up so that people can play roulette with the insecurities in the code then I withdraw my offer of working with an organisation tha

[2015-11-20 15:03] abiusx commented on #108
I don’t think we’re having a constructive argument here.
Have a good day.

[2015-11-20 15:10] owaspjocur commented on #108
Hi Andrew

Even though I understand your point of view , I can only say that many
people worked hard in this project. Although the results are not up to
expectations right now, does not mean that there were not significant
efforts to make the library a security library. I t is valid to consider a
README warning, but emptying the project is another story. I don't think
this is fair to say to the vo

[2015-11-20 15:17] AndrewCarterUK commented on #108
@owaspjocur

None of the code in this repository is useful for anything other than an example of **how not to do things**. Saying that it is "in development" or "in incubator phase" is hiding the fact that **the whole thing needs to be completely rewritten**.

Could you confirm to me that you consider the feelings of your volunteers and contributors more important than the security of the applicat

[2015-11-20 15:23] owaspjocur commented on #108
Could you confirm to me that you consider the feelings of your volunteers
and contributors more important than the security of the applications
developed by people trusting the OWASP namespace?

Andrew, you are right to think so, I wanted to point out that the
intentions and efforts to make this a security library were there, but if
you consider that this has quite many security issues, could you

[2015-11-20 15:42] AndrewCarterUK commented on #108
https://github.com/OWASP/phpsec/blob/master/libs/core/random.php

[code]

The '&& FALSE' means that the CSPRNG openssl API is **never used**. Even if it was to be used the return value isn't checked (it can be false) and neither is the optional '$secure' output variable which flags whether the CSPRNG managed to securely generate a random value.

The intended fallback uses 'mt_rand' which should **

[2015-11-20 16:17] SvenRtbg commented on #108
As one of the contributors to this repository, it's current state makes me sad.

You all are correct asserting that this particular library, in its current state, is a failure. Its goals, set before a Google "summer of code" event long ago, were to write for once a secure library that everyone should use. In the effort that followed, @rash805115 wrote code for basically everything that you'd need

[2015-11-20 16:46] owaspjocur commented on #108
Hi Sven, Andrew

Thank you for your feedback and I think there are enough valid points to
consider that the project is inactive right now and it should be set as an
inactive project.

As a defender security library project , there are definitely high risks
using it at this stage and that can be misinterpreted by potential users.
Considering  owasp guidelines, the project in indeed inactive since i

[2015-11-20 16:51] AndrewCarterUK commented on #108
Hi @owaspjocur

I think they are all wise moves. It does sound, however, like this code will remain public in the OWASP namespace (just with labels of being inactive). The project you linked has no label of inactivity on its GitHub page (https://github.com/OWASP/OWASP-WebScarab).

Unfortunately, not everybody reads TODO files and not everybody checks your wiki pages. Also, every code file in this

[2015-11-20 16:56] owaspjocur commented on #108
Hi @owaspjocur <https://github.com/owaspjocur>

I think they are all wise moves. It does sound, however, like this code
will remain public in the OWASP namespace (just with labels of being
inactive). The project you linked has no label of inactivity on its GitHub
page (https://github.com/OWASP/OWASP-WebScarab).

Unfortunately, not everybody reads TODO files and not everybody checks your
wiki pages

[2015-11-20 17:00] owaspjocur commented on #108
Regarding Inactive projects in OWASP github, is wise to setup an inactive
label too I grew
https://github.com/OWASP/OWASP-WebScarab/blob/master/README

On Fri, Nov 20, 2015 at 12:56 PM, johanna curiel curiel <
johanna.curiel@owasp.org> wrote:

[2015-11-20 17:02] AndrewCarterUK commented on #108
Hi @owaspjocur

Thank you for your cooperation. Will Claudia read this thread? (I didn't see the tag in your response)

If so, can this thread and the evidence presented in it constitute a formal take down request? I'd really rather not spend the time collecting it again and all the information and arguments are present here and public.

Best Regards,

Andrew Carter

[2015-11-20 17:04] owaspjocur commented on #108
Hi @owaspjocur <https://github.com/owaspjocur>

Thank you for your cooperation. Will Claudia read this thread? (I didn't
see the tag in your response)

If so, can this thread and the evidence presented in it constitute a formal
take down request? I'd really rather not spend the time collecting it again
and all the information and arguments are present here and public.

Best Regards,

Andrew Carter

[2015-11-20 17:08] AndrewCarterUK commented on #108
Thank you very much for your cooperation @owaspjocur - you have been very helpful.

[2015-11-20 20:15] asgrim commented on #108
Whilst I sympathise that effort has been put in to making this happen (no-one likes to throw away code!) I think this is the right choice, thank you for listening. I think me and @andrewcarteruk can probably join forces and present something with some thought, so watch this space :)

[2015-11-25 15:14] paragonie-scott commented on #108
Oh my god OWASP, why are you shipping your own broken cryptography library?

https://github.com/OWASP/phpsec/blob/3d3f1a99736d72e7fd850690585e9e5bb1063515/libs/crypto/confidentialstring.php#L133

Hey, I heard you like PHP Object Injection from chosen-ciphertext attacks, because you're not authenticating your ciphertext at all.

* https://paragonie.com/blog/2015/05/using-encryption-and-authenticati

[2015-11-25 15:27] paragonie-scott commented on #108
https://gist.github.com/paragonie-scott/91893fdb18ee4d1a1b95

[2015-11-25 16:02] cscasanovas123 opened #109 "PROJECT NEEDS TO BE SLATED AS INACTIVE"

[2015-11-25 16:48] abiusx commented on #108
How did you hear about this Scott?

[2015-11-25 16:50] paragonie-scott commented on #108
@abiusx Someone pointed me to this article: http://www.devstrend.com/8-best-php-security-libraries

[2015-11-25 16:56] abiusx commented on #108
this library is not for encryption. its for hiding literal sensitive data in the application.

[2015-11-25 16:59] AndrewCarterUK commented on #108
@abiusx Sensitive data should be encrypted.

Again:

_"The class is called **Encryption** inside the **crypto** directory using **AES** and with variables named **$encryptedString**."_

It attempted to be encryption, it advertised itself as encryption and some poor soul out there is probably using it as "encryption".

[2015-11-25 17:00] abiusx commented on #108
I am sorry Andrew but I was replying to Scott.
I would love to have a constructive argument with you regarding this project but I have reached the conclusion that that’s not what you seek.

[2015-11-25 17:01] AndrewCarterUK commented on #108
Furthermore:

https://github.com/OWASP/phpsec/blob/master/libs/crypto/confidentialstring.php#L26
"Cipher to be used for encryption."

https://github.com/OWASP/phpsec/blob/master/libs/crypto/confidentialstring.php#L34
"Key to be used for encryption/decryption."

https://github.com/OWASP/phpsec/blob/master/libs/crypto/confidentialstring.php#L42
"Mode to be used for encryption/decryption such as "ebc

[2015-11-25 17:01] paragonie-scott commented on #108
And how does it do that? By using the mcrypt encryption library, of course.

Trying to bury a security vulnerability with semantics is dishonorable.

Here's a fun fact about open source programming that's often a hard pill to swallow: **You can't control or predict what users will do with it.**

To wit: https://github.com/search?q=qgyXyjD5YpF&type=Code&utf8=%E2%9C%93

[2015-11-25 17:01] asgrim commented on #108
@abiusx I have to agree, this LOOKS (for all intents and purposes) like an attempt at an Encryption library, except it has horrendous insecure flaws. I'm not sure what you mean by "hiding literal sensitive data", the intent of this library very much looks like an Encryption library.

[2015-11-25 17:04] abiusx commented on #108
What is the security vulnerability in here? considering the intended use case of the library.

[2015-11-25 17:04] abiusx commented on #108
I agree with that too.
This means that the intent of the library is not properly communicated, not that it does not do what its not intended to do properly.
We can fix the intent and naming to reflect that.

[2015-11-25 17:05] asgrim commented on #108
@abiusx the point is I'm still unclear about the intent of this library... as I said, I don't know what you mean by "hiding literal sensitive data".... isn't that what encryption is supposed to be for?

[2015-11-25 17:06] abiusx commented on #108
No, encryption is supposed to encrypt and decrypt data. This library is merely there to provide functionality equal to masking passwords.

[2015-11-25 17:07] paragonie-scott commented on #108
Chosen-ciphertext attacks (with a non-secret key and IV to boot) that lead to PHP object injection, not to mention the recent CVEs affecting `unserialize()` (and possibly with more to follow).

[2015-11-25 17:07] abiusx commented on #108
The decrypted string is a string literal from within the application. Performing a code injection attack from within the application is not a vulnerability.

[2015-11-25 17:08] AndrewCarterUK commented on #108
@abiusx passwords should not be masked. They should be hashed (preferably with an algorithm such as bcrypt) or, if they need to be retrieved, encrypted properly.

[2015-11-25 17:08] abiusx commented on #108
1. Then why does a web browser mask them instead of hashing them?

2. What is the proper way to encrypt passwords properly?

[2015-11-25 17:09] paragonie-scott commented on #108
* http://codahale.com/how-to-safely-store-a-password/
* https://paragonie.com/white-paper/2015-secure-php-data-encryption
* https://paragonie.com/blog/2015/04/secure-authentication-php-with-long-term-persistence

[2015-11-25 17:10] abiusx commented on #108
Hashing is not encryption. Encryption needs to be decryptable.

[2015-11-25 17:11] AndrewCarterUK commented on #108
@abiusx

1. Web browsers do encrypt passwords (https://support.mozilla.org/en-US/kb/password-manager-remember-delete-change-and-import#w_protecting-your-passwords)

2. They should be hashed or encrypted, not 'masked'.

[2015-11-25 17:12] abiusx commented on #108
1. Web browsers do not encrypt passwords on HTML forms. Please refrain from fallacious examples.
I’m not talking about the internals of the web browser, but the way it handles HTTP requests.

2. Ok, so what is the proper way to encrypt them?

[2015-11-25 17:12] paragonie-scott commented on #108
@abiusx If you're concern is someone with code exec getting the password, game over. If the application can decode the password, an attacker can replay your algorithm to decrypt it.

[2015-11-25 17:12] abiusx commented on #108
I don’t understand. Please elaborate.

[2015-11-25 17:14] AndrewCarterUK commented on #108
__"1. Web browsers do not encrypt passwords on HTML forms. Please refrain from fallacious examples.
I’m not talking about the internals of the web browser, but the way it handles HTTP requests."__

HTML forms containing passwords should be transmitted over HTTPS.

[2015-11-25 17:15] abiusx commented on #108
Yes but over the client, they are only masked. If you have a Javascript powered application running in the client, it just masks the password.
It can also encrypt it, but usually there’s no need.

[2015-11-25 17:18] asgrim commented on #108
The fact is, this is still an issue. This "confidentialString" function looks, and acts like encryption. If the intention is to "mask passwords" I'm not sure what possible use case this would have in PHP. The only thing you should ever do in a PHP application with a password is hash it, end of.

[2015-11-25 17:19] abiusx commented on #108
I agree with the first part of your sentence. The use-case is not communicated properly.

As to what use it might have, the exact same use as the browsers replacing passwords with *, and is part of the security standard. If someone looks at them, they can't know what they are.

Says who?

[2015-11-25 17:23] asgrim commented on #108
Says any responsible application developer who cares about security. I'm not sure why you'd replace passwords with * in a PHP application, and surely `str_repeat` is sufficient for this purpose?

[code]

Why do you need mcrypt to do anything if that's the case? By using mcrypt it *LOOKS* like you're trying to encrypt things, and if the intention is to _encrypt_ passwords, then that is very bad ind

[2015-11-25 17:23] paragonie-scott commented on #108
@abiusx Let me see if I can elaborate:

* Threat modelling is important and relevant: The browser `******` is a mitigation against shoulder-surfing. The closest parallel to source code isn't encrypting the field, it's *never using hard-coded credentials*, and definitely never storing them in version control. (`.gitignore` is wonderful.)
* That this library is in a directory named `/lib/crypto/` an

[2015-11-25 17:24] SvenRtbg commented on #108
What do you do with the password for your database? Hashing is not an option.

This function addresses this usecase, but it feels weird. And it does patching of the original PHP source, so it requires the password to be hardcoded.

Am 25. November 2015 18:19:46 MEZ, schrieb AbiusX <notifications@github.com>:

Mit freundlichen Grüßen

Sven Rautenberg

[2015-11-25 17:24] abiusx commented on #108
@asgrim
I'm a responsible application developer who cares about security, and I tend to disagree.

Yes, str_repeat sounds like a good plan. However, that password still needs to be stored somewhere because its plaintext value is needed. How do we manage that?

[2015-11-25 17:25] asgrim commented on #108
@abiusx as @paragonie-scott pointed out, there's only rare cases you need to decrypt a password, and when you do, you MUST do it properly, and THIS is not properly. When dealing with 99% of cases (i.e. normal user authentication), a password should simply be hashed and discarded.

[2015-11-25 17:26] abiusx commented on #108
@paragonie-scott

The existing body of research indicates otherwise. This is not a very useful remedy and developers typically mistake or misuse it.

Totally agreed. Let's properly communicate the use-case.

I tend to disagree. Search github for uses of encryption in PHP projects and you'd be amazed.

[2015-11-25 17:26] kelunik commented on #108
You will always need access to the cleartext password when connecting to something like MySQL. Doesn't matter which insecure obscurity method you use. It's still readable when not properly encrypted. You can only prevent that with a unknown key.

[2015-11-25 17:26] abiusx commented on #108
This has nothing to do with authentication. Please enlighten me as to what 'properly' is, and I'd be happy to oblige.

[2015-11-25 17:27] paragonie-scott commented on #108
Okay, either you know who I am and are being condescending, or you don't and are bluffing. Either way, I'm offended.

[2015-11-25 17:27] abiusx commented on #108
@kelunik

That's not the intent of this library. Refer to the browser * examples.

[2015-11-25 17:28] kelunik commented on #108
Which is not useful in any way in a PHP application.

[2015-11-25 17:28] ircmaxell commented on #108
Question for @abiusx what is the specific threat and/or vulnerability you are attempting to protect against with this library?

[2015-11-25 17:28] abiusx commented on #108
@paragonie-scott I don't know who you are but don't understand what it has to do with bluffing.

[2015-11-25 17:28] abiusx commented on #108
@kelunik > "Which is not useful in any way in a PHP application."
care to support that with an argument?

[2015-11-25 17:29] paragonie-scott commented on #108
You said:

See: https://paragonie.com/security <- I'm not exactly amazed here.

[2015-11-25 17:30] abiusx commented on #108
@paragonie-scott  so you found 7 vulnerabilities. Is that basis for bringing down all PHP projects?
Let's focus on fixing those instead of bringing down the Internet.

[2015-11-25 17:32] kelunik commented on #108
You type passwords in browsers and terminals everywhere, in your office but maybe also in presentations or in public transport. You usually don't do that with server credentials. You either put them into an access restricted file or one that might even be encrypted. But for that encryption you'd need a secret key as well that has to be stored somewhere. The thing you do here not encryption done ri

[2015-11-25 17:34] abiusx commented on #108
@kelunik > "You type passwords in browsers and terminals everywhere, in your office but maybe also in presentations or in public transport. You usually don't do that with server credentials. You either put them into an access restricted file or one that might even be encrypted. But for that encryption you'd need a secret key as well that has to be stored somewhere. The thing you do here not encryp

[2015-11-25 17:34] paragonie-scott commented on #108
When it comes to searching for encryption in PHP projects: Been there, done that, reported so many redundant vulnerabilities most of which I don't even bother writing up on Full Disclosure or my company's website.

I highly recommend (for any PHP developer) reading up on [basic cryptography concepts](https://paragonie.com/blog/2015/08/you-wouldnt-base64-a-password-cryptography-decoded).

I'm not b

[2015-11-25 17:35] paragonie-scott commented on #108
Also, please answer @ircmaxell's question, @abiusx.

[2015-11-25 17:39] Manouchehri commented on #108
@abiusx Since it's not encryption, what's the point of masking again? It seems just as safe to store things in plaintext, no?

[2015-11-25 17:47] jonathan-og commented on #108
@abiusx You keep talking about the "intended use-case", but what is this use-case? And don't say "hiding sensitive data" because that's not what this library is doing, its not hiding anything, only writing it in another form.

[2015-11-25 17:56] abiusx commented on #108
Where is it?

[2015-11-25 17:56] abiusx commented on #108
@Manouchehri

The same point browsers take when masking passwords. Prevent disclosure by quick looks.

[2015-11-25 17:57] paragonie-scott commented on #108
https://github.com/OWASP/phpsec/issues/108#issuecomment-159681374

[2015-11-25 17:57] abiusx commented on #108
@jonathan-og

What better means of hiding sensitive information can you point me to? I'd love to update it.

[2015-11-25 17:57] abiusx commented on #108
@paragonie-scott

Disclosure of sensitive information by quick looking through the files.

[2015-11-25 17:59] paragonie-scott commented on #108
Easy solution:

1. Make the sensitive information not part of the source code, make it part of an external configuration file that is never checked into version control and only stored in production outside of a publicly accessible directory (i.e. the document root).
2. There is nothing else you need to do. Anything further is security-through-obscurity.

[2015-11-25 18:00] AndrewCarterUK commented on #108
@abiusx PHP already provides an API for what you're suggesting.

http://php.net/manual/en/function.str-rot13.php

[2015-11-25 18:01] Manouchehri commented on #108
@abiusx

Sorry, I'm not sure if I follow. Quick looks by *who*?

[2015-11-25 18:02] abiusx commented on #108
@paragonie-scott
1. Can you give ma a technical solution? Just asking for a lot of conditions to apply is not that easy.

Plus, putting it in "non-source code files" increases the risk of LFD. No matter where you put it, in your production environment or outside a public directory.

2. Yes, this library does exactly security through obscurity. It's not always bad.

@AndrewCarterUK I can easy rever

[2015-11-25 18:02] abiusx commented on #108
@manouchehri by an adversary. Someone who came to your computer for 2 minutes?
Someone who got access to your web server for 2 minutes?

Someone you are presenting your code to on a slideshow and gets 2 seconds of seeing that piece of the code?

[2015-11-25 18:03] kelunik commented on #108
Relying on it is always bad.

[2015-11-25 18:03] paragonie-scott commented on #108
How does this code stop the LFD? An attacker who can look at your source file can also presumably look at the code that obfuscates it.

Steps to pwn:

1. Find LFD vulnerability.
2. Look at obfuscated string.
3. Look at code that obfuscated the string, copy code, deobfuscate it.

At its core, this library is almost like a really weak attempt at DRM.

[2015-11-25 18:04] abiusx commented on #108
@kelunik

Relying on it is always bad."

I'd appreciate arguments or citations instead of personal opinions.

[2015-11-25 18:04] paragonie-scott commented on #108
https://en.wikipedia.org/wiki/Kerckhoffs's_principle

GG

[2015-11-25 18:05] abiusx commented on #108
@paragonie-scott You seem to be confusing topics. Your proposed solution increases the chances of LFD, it has nothing to do with this code.

LFI can turn into an LFD if the sensitive information is defined in non-code files instead of source code files.

[2015-11-25 18:05] abiusx commented on #108
@paragonie-scott Kerckhoff's principle applies to cryptography, not application security.

[2015-11-25 18:05] paragonie-scott commented on #108
No it doesn't. If there's a vulnerability that can cause LFD, that vulnerability exists regardless.

[2015-11-25 18:06] abiusx commented on #108
@paragonie-scott  I just explained that an LFI can turn into an LFD with your proposed solution, and how. "No it does not" doesn't seem to be an appropriate response!

[2015-11-25 18:06] paragonie-scott commented on #108
https://github.com/OWASP/phpsec/issues/108#issuecomment-159689730

I'm going to print this quote out and frame it.

I'm done. This is too stupid to not be a troll.

[2015-11-25 18:07] kelunik commented on #108
What's LFD / LFI?

[2015-11-25 18:08] paragonie-scott commented on #108
Local File Disclosure / Local File Inclusion

[2015-11-25 18:08] Manouchehri commented on #108
@abiusx

If I have access to your computer for two minutes, it's going to get a remote shell (which will work indefinitely). Nobody is going to spend all their time through PHP files if they have a limited attack window.

If you present a slideshow with a password "masked" with the same key as everyone else, somebody in the crowd is going to pick it up. (Assuming it's an experienced security audie

[2015-11-25 18:09] abiusx commented on #108
@manouchehri that's only one possible scenario.

Security is worthwhile if the effort it requires outweighs the benefit it provides. In this case, I can see many benefits and very little effort/confusion.

I doubt that anyone can memorize a base64_encoded AES encryption. If they can, then there's nothing better we can do.

I'd like to remind you that criticism only has meaning if you can come up w

[2015-11-25 18:10] joepie91 commented on #108
Not possible. End of story. If you don't want it disclosed, *don't put it in there*.

[2015-11-25 18:10] jonathan-og commented on #108
@abiusx

Well with this library you don't have to remember anything because you can look up the key in this repo. The only currently secure method is either hashing (perfect for passwords) or proper encryption with a true [random](http://php.net/manual/en/function.openssl-random-pseudo-bytes.php) key.

[2015-11-25 18:10] abiusx commented on #108
@joepie91 Please let me know if you have any better ideas.

[2015-11-25 18:11] jonathan-og commented on #108
@abiusx We can't provide better ideas if you don't explain your use-case.

[2015-11-25 18:11] abiusx commented on #108
@jonathan-og We can implement a random key. That would improve this library.

Hashing is not applicable here.

I don't think it is easy to remember a maximum entropy string. At least its orders of magnitude harder to remember than a plaintext password.

The use-case is explained several times in this thread.

[2015-11-25 18:12] joepie91 commented on #108
Not shipping the information to begin with.

[2015-11-25 18:12] paragonie-scott commented on #108
Oh good, I was worried someone might think to take a photo or screenshot, but I guess that's impossible.

[2015-11-25 18:12] Manouchehri commented on #108
@abiusx My suggest is to store the password in plaintext to avoid misleading users.

This reminds me of Snapchat hardcoding their encryption key into the app. You spot it instantly as it's the only weird looking string in a class related to encryption. https://gibsonsec.org/snapchat/snapchat_gibsonsec.txt

[2015-11-25 18:13] paragonie-scott commented on #109
:+1:

[2015-11-25 18:13] abiusx commented on #108
@manouchehr how does that "increase" security with regards to what we already have?
@paragonie-scott same applies here. We're not claiming its bullet proof, but it's better than plaintext. That's the argument here.

[2015-11-25 18:14] Manouchehri commented on #108
@abiusx It provides transparency. (It obviously does not increase security at all.)

[2015-11-25 18:14] joepie91 commented on #108
It's not better than plaintext if you're shipping the key. It's *worse* - it provides a false sense of security, which is likely to make people act more recklessly.

[2015-11-25 18:15] abiusx commented on #108
@manouchehri what kind of transparency it provides over what we already have? I am unable to see the benefit here. Please elaborate.

[2015-11-25 18:15] abiusx commented on #108
@joepie91 I don't agree with your "false sense of security" argument. Please provide use-cases where it actually worsens things.

[2015-11-25 18:16] joepie91 commented on #108
There's nothing to "agree" with. This is how it *works*. I've already given you a usecase.

[2015-11-25 18:16] Manouchehri commented on #108
@abiusx Right now users will likely falsely believe their credentials are properly encrypted if they do not look at the source code or this thread.

[2015-11-25 18:16] abiusx commented on #108
@joepie91 I don't respond to force. Either provide an argument or withdraw your case.

[2015-11-25 18:17] joepie91 commented on #108
This isn't "force". This is attempting to explain something to you that has been well-established in the area of cryptography for the last few *decades*. You can either agree or be wrong. There's no arguments left to be made here, that haven't already been extensively made and documented.

[2015-11-25 18:17] abiusx commented on #108
@manouchehri and why is that bad? why is removing it better? Although I doubt that people will think that, because they have to read the docs to use confidentialString wrapper around their sensitive information! And by reading that they would know.

[2015-11-25 18:18] abiusx commented on #108
@joepie91 "you can either agree with what I say, or be wrong." I call that force.

I think I have enough crypto background to realize this is not the case.

[2015-11-25 18:19] Manouchehri commented on #108
@abiusx You're hiding credentials from users, *not* an attacker. Why is hiding credentials from the user a good idea?

[2015-11-25 18:19] joepie91 commented on #108
I don't really care about how much "crypto background" you have. Designing secure systems is half technology and half psychology. You have failed to make a compelling argument on the former, and evidently aren't familiar with the latter.

There is no reason for this to be used in this way - it doesn't provide any technical security, and it creates a false sense of security, which *objectively* lea

[2015-11-25 18:21] kelunik commented on #108
1) It doesn't add real security
2) It ships with a default key
3) The key is not easily customizable

[2015-11-25 18:21] abiusx commented on #108
@joepie91 If you want to provide criticism, either establish your point, or provide a better alternative. Just because you say "this is not good", does not make it so.

There is ample use-case scenarios in this thread for benefits of this.

[2015-11-25 18:22] abiusx commented on #108
@kelunik
1. What do you define as "real security?" If unreal security adds benefits, I'm happy with that.
2. We can fix that.
3. We can fix that too.

[2015-11-25 18:23] Manouchehri commented on #108
@abiusx

Great! Until 2 & 3 are done, this shouldn't be shipped as is. Hence my suggestion to revert to plaintext by default *unless* the default key is changed.

[2015-11-25 18:23] joepie91 commented on #108
I've already provided the better alternative, as have others, several times by now. The better alternative is to __not encrypt things in the first place__, as there is no point in doing so. "Do nothing" is a valid solution, and the correct one in this case, as far as I can tell.

I have not seen any. Can you reference them?

[2015-11-25 18:24] kelunik commented on #108
If you fix 2 and 3, it's already a lot better.

[2015-11-25 18:24] paragonie-scott commented on #108
This is my recommendation, as someone with a lot of experience breaking cryptography implementations in PHP land:

**Remove the `Encryption` library, re-think your threat model.**

Any further bickering is just going to make this thread even more embarrassing for OWASP, which is a shame because it's an organization that I like.

If anyone needs me, contact security@paragonie.com as I'm unsubscribi

[2015-11-25 18:24] Manouchehri commented on #108
@abiusx We gain several CPU cycles by not encrypting strings. Encrypting with a default key only hurts performance and doesn't gain any security.

[2015-11-25 18:25] abiusx commented on #108
@joepie91

1. I have shown several cases where this encryption "does help". So by saying "not doing it is equivalent" your argument becomes invalid.

2. I'll look up the use-cases and post again.

[2015-11-25 18:25] abiusx commented on #108
@kelunik this is an open source project. Please help fix the issues you find in the code. I did not create this code.

[2015-11-25 18:26] abiusx commented on #108
@paragonie-scott  I think you have advertised your firm enough on this thread. If you have arguments that do not rely on "your position and background", feel free to provide them.

@manouchehri I think those CPU cycles are well worth the very little security benefit that we receive. It isn't really performance-intensive.

[2015-11-25 18:26] kelunik commented on #108
You're an owner here. I don't have time for more open source than I already do currently.

[2015-11-25 18:28] abiusx commented on #108
@kelunik neither do I. You can fork and make changes, owner really doesn't mean anything on Github.

[2015-11-25 18:29] Manouchehri commented on #108
@abiusx Which is why we're suggesting to remove the "encryption" library. We understand it's an open source library and the issue will not be resolved instantly.

Even if one of us removes the offending functions, would you accept a PR? Based on this discussion, it seems like it wouldn't be accepted.

[2015-11-25 18:30] abiusx commented on #108
@manouchehri the problem that you are proposing is not fixed by removal. It's fixed by patching the code. That's why I'm refusing to remove the code.

I would accept any PR that adds benefits to this library. Just removing code does not do so (except for very rare cases).

Yes, all issues can be resolved by completely removing the code that causes them. That's not a remedy!

[2015-11-25 18:31] paragonie-scott commented on #108
I already have, you seem to have ignored them. Re-read the thread from the beginning.

1. The current best practice is to NOT store credentials in your source files (or leave them in version control in the first place!)
2. Blinding passing data to PHP's `unserialize()` function is a huge security risk.
3. [Unauthenticated encryption is not secure](http://tonyarcieri.com/all-the-crypto-code-youve-e

[2015-11-25 18:34] AndrewCarterUK commented on #108
Allow me to repost the vulnerabilities I mentioned earlier as they have been buried:

https://github.com/OWASP/phpsec/blob/master/libs/core/random.php

[code]

The '&& FALSE' means that the CSPRNG openssl API is **never used**. Even if it was to be used the return value isn't checked (it can be false) and neither is the optional '$secure' output variable which flags whether the CSPRNG managed to s

[2015-11-25 18:35] abiusx commented on #108
@AndrewCarterUK  Please list those vulnerabilities in a separate issue so that we can discuss them there.

[2015-11-25 18:36] kelunik commented on #109
:+1:

[2015-11-25 18:38] abiusx commented on #108
@paragonie-scott
1. Please provide "What to do" not just "what not to do".

Not storing credentials in source files? Then where? The previous solution you provided adds security risks, as I've explained before.

2. Nobody is passing data to unserialize. The string that passes through unserialize is a literal string of the application (available in the source code). it is not controlled by the user

[2015-11-25 18:38] AndrewCarterUK commented on #108
@abiusx I do not intend to patch this repository or try and lead anyone into thinking that it is being actively maintained or undergoing security review.

I've posted those as evidence to support the argument that this repository needs to be deleted (which is what the primary focus of this thread now is).

If you'd like me to start a "We should delete this repository" thread I will happily do so.

[2015-11-25 18:39] abiusx commented on #108
@AndrewCarterUK  Then add a patch that explains these issues in the readme file.

[2015-11-25 18:41] paragonie-scott commented on #108
How does it add a security risk above what the current code does? You haven't demonstrated that at all.

* If a project has a LFD/LFI vulnerability, it's already swiss cheese.
* If it doesn't, storing a file in a non-public location doesn't increase your risk at all.

[2015-11-25 18:43] abiusx commented on #108
@paragonie-scott LFI is a less severe vulnerability than LFD. I don't agree that all vulnerabilities are equal. Turning an LFI into and LFD is not a security improvement.

What does storing the file in a public or non-public location have to do with anything? Please explain to me how it could matter at all where you store the file.

[2015-11-25 18:46] paragonie-scott commented on #108
Says the person defending a library that, if used to encrypt/decrypt data supplied by a user, is vulnerable to PHP object injection and possible memory corruption on older versions of PHP.

Having a LFI in the first place is the problem. Worried about a +0.001% increase to an attack's impact, but greatly increasing the odds of the attack succeeding in the first place, is not a laudable goal to me.

[2015-11-25 18:48] jonathan-og commented on #108
I don't think this discussion has any benefit.
The owners expect random people to save their *horrible* code and re-invent the wheel at the same time.
The security vulnerabilities in this library have been cracked before computers even existed.

[2015-11-25 18:48] abiusx commented on #108
@paragonie-scott
1. The library's intent is not to be used as an encryption library. Any library used outside its use-cases can be a security risk.

2. LFD is not +0.001% over LFI. You , with all that background knowledge, should know better.

[2015-11-25 18:49] abiusx commented on #108
@jonathan-og I told you before that this is not my code. And you are not random people.

If you care about security of web applications, which you do, just fork the project and update the readme file. That doesn't even need patching the code. This is an open source project.

[2015-11-25 18:51] paragonie-scott commented on #108
@abiusx Explain to me, in detail, how moving your passwords &c outside of your PHP script into a configuration file that is stored outside the web root (so you can't just guess the URL) increases your risk in the absence of an existing vulnerability that already destroyed the integrity of your application.

[2015-11-25 18:52] abiusx commented on #108
@paragonie-scott  explain to me how not moving them hurts your code, assuming that sensitive information is stored inside a PHP code file.

[2015-11-25 18:53] paragonie-scott commented on #108
Easy:

1. If it's checked into version control (say: a private Github repository) and Github gets hacked, your password is compromised.
2. If you have a large team of developers with access to the source code and not the production server, and one of them gets malware on their laptop, the attacker gets the password to your database.

If it's only stored in the production environment, neither of th

[2015-11-25 18:53] jonathan-og commented on #108
@abiusx I'm not blaming you personally. And I am *random* in the sense that I don't have any connection to this repo.
Let me just put the function comment here so we have the original use-case clear.

[2015-11-25 18:55] abiusx commented on #108
@paragonie-scott
1. The solution for moving it outside the version control is not to put it outside the web app directory. That can be one solution, but not the only solution. Just as you mentioned, gitignore is helpful too.

I agree that it reduces the risk of putting it under version control, but it also makes it harder to maintain and explain.

2. Are you assuming that all those developers have

[2015-11-25 18:57] abiusx commented on #108
@jonathan-og the library was not coded by a native English speaker. He clearly knew what he was doing, if you take a look at the change log, he changed the function name to "confidentialString" which reflects the meaning.

However, I have agreed over and over and over that the naming for this library is not properly done. By no means it is doing encryption and shouldn't be doing it.

And that's wh

[2015-11-25 19:05] abiusx commented on #108
I think the participants in this issue agree that the Encryption library has to be patched to reflect the following properties:

1. Renamed to reflect its purpose (masking sensitive information rather than encryption)
2. Do not hardcode the key for encryption (although provide a default, not necessarily hardcoded, key)
3. Have a readme file that explains the risks and benefits associated with this

[2015-11-25 19:05] #108 closed

[2015-11-25 19:08] AndrewCarterUK commented on #108
@abiusx

"I think the participants in this issue agree that..."

Literally nobody in this thread agrees with you on what the issue is here or your suggested solution. Please reopen this issue.

[2015-11-25 19:09] abiusx commented on #108
Then feel free to open the issue and add comments. Or provide a summary that you think participants agree with.

[2015-11-25 19:21] jonathan-og commented on #108
4. Security flaws need to be fixed. While they are not fixed the code needs to be removed or at least suggested not to use it for the advertised purpose (encryption).

[2015-11-25 19:29] abiusx commented on #108
@jonathan-og 100% agreed.

[2015-11-25 19:36] AndrewCarterUK commented on #108
I can't open this issue. But accepting your challenge, my summary of this thread is:

**This class was intended to be an encryption utility but contained several serious security flaws. @abiusx has suggested that the class should be repurposed as an obfuscation class. However the overwhelming majority (if not all) of the other participants in this thread, including well known security professional

[2015-11-25 19:37] abiusx commented on #108
Please point out the people that wanted this project deleted.
Also let me know how you understood what this class “intended”, as I believe you were not the developer and you don’t know the developers.

[2015-11-25 19:39] AndrewCarterUK commented on #108
The original author documented the method.

[code]

You have to pay attention to the details @abiusx - you see where it says "encrypt"?

[2015-11-25 19:45] AndrewCarterUK commented on #108
Myself, @asgrim, @SvenRtbg, @Manouchehri , @jonathan-og, @maccath

Some of these might be arguing for the code to be taken down (rather than the whole project).

Please add yourself to this list as you feel appropriate.

Apologies if I tagged anyone out of turn, ping me and I'll remove it if so.

[2015-11-25 19:47] kelunik commented on #108
+1 for class removal, not sure about whole repository, didn't look closer at the rest.

[2015-11-25 19:49] owaspjocur commented on #108
Anyone interested to work on the project?

On Wed, Nov 25, 2015 at 3:47 PM, Niklas Keller <notifications@github.com>
wrote:

[2015-11-25 19:51] AndrewCarterUK commented on #108
@kelunik https://github.com/OWASP/phpsec/pull/110#issuecomment-159700761

@owaspjocur - I will happily work on a list of existing libraries that fill the space this library was originally intended for on the condition that the code in this repository is cleared. I believe that @asgrim volunteered for this too.

[2015-11-25 19:53] owaspjocur commented on #108
Andrew, anyone can start a project at OWASP and you are welcome
You can start a project from scratch if you want

More info email claudia.aviles-casanovas@owasp.org

On Wed, Nov 25, 2015 at 3:51 PM, Andrew Carter <notifications@github.com>
wrote:

[2015-11-25 20:16] josegonzalez commented on #109
Probably worth deleting the code/removing from packagist to discourage it's use.

[2015-11-25 20:35] masterkaos commented on #108
@abiusx
If all you care about is masking, then why not just use built in functions such as base64_encode. Why even use a key at all?

Why do you even NEED to mask? You do realize you are one of the only ones who thinks this class even makes sense?

What is a real world example of a PHP application that would need masking? I saw you mention something about browsers earlier but that is a client that

[2015-11-25 22:17] #3 closed

[2015-11-25 22:17] #32 closed

[2015-11-25 22:17] #50 closed

[2015-11-25 22:17] #60 closed

[2015-11-25 22:17] #67 closed

[2015-11-25 22:17] #83 closed

[2015-11-25 22:17] #84 closed

[2015-11-25 22:17] #85 closed

[2015-11-25 22:17] #103 closed

[2015-11-25 22:17] #109 closed

[2015-11-25 22:24] SvenRtbg commented on #108
By completely overstepping my assumed responsibilities as a collaborator with write access to this repository, I hereby declare that I have merged the suggested deletion of the code base on the master branch.

This discussion showed me that having code in public will make people see and use it. I was completely surprised that this half-broken attempt of trying to do "something with security" was a

[2015-11-25 22:29] kelunik commented on #108
Thank you!

[2015-11-25 22:32] owaspjocur commented on #108
@SvenRtbg

So is not enough to set a warning?
Basically from what I understand from your comments, you believe this code
should be rewritten from scratch?
No other alternatives as trying to fix it?

On Wed, Nov 25, 2015 at 6:29 PM, Niklas Keller <notifications@github.com>
wrote:

[2015-11-25 22:48] AndrewCarterUK commented on #108
@owaspjocur The code still exists in the history of the repository if anybody wants to fix it.

I created another pull request which makes this more explicit: https://github.com/OWASP/phpsec/pull/111

My personal opinion is that this code isn't fixable. It would need to be completely rewritten. Even if you disagree, at the moment there is nobody who wants to work on it.

I would also recommend in

[2015-11-25 23:19] owaspjocur commented on #108
@owaspjocur <https://github.com/owaspjocur> The code still exists in the
history of the repository if anybody wants to fix it.

I created another pull request which makes this more explicit: #111
<https://github.com/OWASP/phpsec/pull/111>

My personal opinion is that this code isn't fixable. It would need to be
completely rewritten. Even if you disagree, at the moment there is nobody
who wants to

[2015-11-25 23:25] joepie91 commented on #108
@SvenRtbg :+1:

[2015-11-25 23:39] SvenRtbg commented on #108
@owaspjocur This project, in it's current state, is not ready. It hasn't had a release, nor any planned release date. However it is actively being recommended as being an authoritative source of best practice.

There are 11 contributors listed by Github. Now compare this to the scope of the project: It has logging (seldaek/monolog has 218 contributors), database abstraction (the Propel ORM has 96

[2015-11-25 23:44] owaspjocur commented on #108
@owaspjocur <https://github.com/owaspjocur> This project, in it's current
state, is not ready. It hasn't had a release, nor any planned release date.
However it is actively being recommended as being an authoritative source
of best practice.

There are 11 contributors listed by Github. Now compare this to the scope
of the project: It has logging (seldaek/monolog has 218 contributors),
database abs

[2015-11-26 02:02] AndrewCarterUK opened #113 "[SECURITY] phpsec/random.php - CSPRNG isn't used when available"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

https://github.com/OWASP/phpsec/blob/1999edc10a3b755ff2b17bb78376bd53dd40d192/libs/core/random.php#L50

The `&& FALSE` means

[2015-11-26 02:05] AndrewCarterUK opened #114 "[SECURITY] phpsec/random.php - CSPRNG isn't properly error checked"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

`openssl_random_psuedo_bytes` can return FALSE and it can also set an optional second parameter to declare whether it managed

[2015-11-26 02:07] AndrewCarterUK opened #115 "[SECURITY] phpsec/random.php - mcrypt isn't properly error checked"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

The mcrypt API results should be checked to see if there has been an error. If there has been, the functions should fail hard

[2015-11-26 02:12] AndrewCarterUK opened #116 "[SECURITY] phpsec/random.php - Fallback CSPRNG is not CSPRNG"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

The fallback CSPRNG (which is actually the main CSPRNG due to https://github.com/OWASP/phpsec/issues/113) generates random nu

[2015-11-26 02:15] AndrewCarterUK opened #117 "[SECURITY] phpsec/user.php - Timing attack on hash comparison"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

`hash_equals` should be used to compare hashes to prevent a timing attack.

https://github.com/OWASP/phpsec/blob/1999edc10a3b

[2015-11-26 02:19] AndrewCarterUK opened #118 "[SECURITY] phpsec/user.php - Passwords converted to lower case before hashing"
_Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it._

This line of code gives a huge number of equivalent passwords by converting the password before hashing it. This means that i

[2015-11-26 02:32] AndrewCarterUK opened #119 "[SECURITY] phpsec/temppasscontroller.php XSS"
```Note: I have been asked to log all the security issues that I have found by an OWASP contributor to support the decision to abandon this project. My personal opinion is that all of the code in this repository is beyond repair and that it is not wise to attempt to fix it.```

Unescaped output:

https://github.com/OWASP/phpsec/blob/1999edc10a3b755ff2b17bb78376bd53dd40d192/framework/control/users/

[2015-11-26 05:17] dragonmantank commented on #108
One thing to keep in mind is that, unfortunately, there is no OSI-approved license available for this repo.

I would suggest deleting the repo for this reason. Not only is the historical code unsafe, without an appropriate license none of this code should, or can be, worked on without the specter of copyright claims from the original authors.

[2015-11-30 20:15] enygma opened #120 "update for phpsec.owasp.org?"
Given the new state of this project, I'd suggest that the related website, phpsec.owasp.org, be updated to point out the project is deprecated and that any information there is for reference only. It should also mention that the software is no longer available except in archive.

[2015-12-02 09:23] imifos commented on #120
I just wanted to post that as well. I think this web site should simply be removed. There is no reason to keep old stuff online (other than having names in the google index or "because we can").

[2015-12-02 17:04] mebjas commented on #120
I think having a banner that, project is deprecated would be better. It might drive developers to work on a newer version.

[2015-12-02 18:51] enygma commented on #120
@mebjas I don't really see a reason to keep the site around honestly. It's mostly a reference for the tool and doesn't really offer anything by itself.

[2015-12-02 18:52] abiusx commented on #120
And I don’t see a reason to remove it honestly. It points to something that says deprecated.

[2015-12-02 18:57] enygma commented on #120
@abiusx If it points to something deprecated, what's the rationale for leaving it? All it does is provide confusion for users that may want to use the tool and find out that they can't but only by going to the project.

Even the "Download Now!" link only gives them an archive with just the `README` in it...

[2015-12-02 18:59] abiusx commented on #120
Whats the point in removing it?
It’s open source. Lots of OS projects are like that.
At least users realize things have changed and just haven’t vanished.

Case closed.

[2015-12-02 19:06] enygma commented on #120
But...it _did_ vanish (effectively). Even the repository is empty now.

While I get that other projects leave sites up even though the project is deprecated, this project has been wiped out almost completely.

[2015-12-02 19:12] abiusx commented on #120
The repository holds the history of the code. Only the current version is empty.
I did not choose to delete the files. Some OWASP folks forced their influence upon this.

[2015-12-02 19:58] imifos commented on #120
Jezz...

You want a reason to remove this page?

Articles like this - http://www.devstrend.com/8-best-php-security-libraries/  (date: November 25,2015) - pointing to this page and prising it as one of the best PHP security frameworks "of da world11".

If you still want to take responsability for the potential damage caused by this framework being used and the resulting security problems, that is y

[2015-12-02 19:59] abiusx commented on #120
Closed.

[2015-12-02 20:19] paragonie-scott commented on #120
I don't think we should listen to @abiusx here as if he's an OWASP officer, let's instead let the OWASP folks force their influence upon this again for the good of developers the whole world over.

[2015-12-02 20:42] mebjas commented on #120
Yeah there is a website pointing to **phpsec** as one of the best php security library. If someone lands on phpsec.owasp.org, it wont be difficult for them to realize, this project isn't being maintained if there is a big banner.

If you ask what's the point of keeping it up, I think the problems the library was trying to solve still exist, and we should try to solve existing glitches and make the

[2015-12-02 20:43] owaspjocur commented on #120
Hi Scott,
If you want to make a former request to take the phpsec.owasp.org website
down
then take contact with
jim.manico@owasp.org
claudia.aviles-casanovas@owasp.org

One of the problems at owasp is that there are no volunteers neither
technical staff to administrate projects properly not even the little
resources around them such as the Github or the domain owasp name

Please bear with us, phps

[2015-12-02 21:03] imifos commented on #120
@mebjas
I'm totally with you on that. If the library gets some love, of course it should stay up and running. Speaking of the problems the library wants solve, it sounded just like an awesome idea for a blog post or an article in the PHP section of the OWASP wiki :) ... oh yes... the PHP section on the OWASP wiki would need some work too, if you are fancy :)  (Of course, anybody of you is invited

[2015-12-02 21:24] ircmaxell commented on #120
I think there's an important thing to consider here. Yes, this is open source. And yes, anyone can "fix" it because of that, and nobody has a right to say no because it's open source.

However, it's also being advertised with the OWASP name, with a very "official" sounding domain/project name. The implication is that it's a supported library. And if that's the case, then it _needs_ to be accurate

[2015-12-02 21:55] paragonie-scott commented on #120
To be completely honest, instead of reinventing the wheel, I'd rather see a PHP Security project that evaluates and recommends the existing packages in the ecosystem, regardless of vendor/supplier, that are believed (by a panel of volunteer experts perhaps?) to be secure, not only against the OWASP Top Ten, but against more pernicious threats.

That would be a constructive direction to take this.

[2015-12-02 22:10] paragonie-scott commented on #120
As a follow-up to my previous comment, here's a rough draft for a hypothetical system to track negative findings  (i.e. no vulnerabilities):

(in PostgreSQL, which is how I usually express data structures in my notes)

[code]

Volunteers can join and offer to evaluate the code for a particular version of a library or widget. The incentive here isn't just to discover/report/get-credit-for vulnerabi

[2015-12-02 23:42] jmanico commented on #120
That was me. Several bugs were filed against the project and the project leader chose to hide them all. At that point I revoked access to all OWASP repositories.

##

Jim Manico
@Manicode

[2015-12-02 23:45] jmanico commented on #120
I am in the process of changing phpsec.owasp.org point to the github repo. I am not sure who runs the actual website but I am on it.

##

Jim Manico
@Manicode
Secure Coding Education
+1 (808) 652-3805

[2015-12-02 23:53] jmanico commented on #120
I am grateful for everyones help and I'm very willing to revive this project if a full audit is done and critical bugs are fixed.

I am only upset at one occurrence - where a project leader modified the GitHub repository and "hid" all active reported issues without fixing them. This is not cool, at least.

So please contact me when these issues are fixed as well as a full scope audit is conducted.

[2015-12-02 23:54] abiusx commented on #120
I am no longer maintaining this project per the discussion that we had and the abuses of power that I have observed. Go ahead and fix them yourself.

[2015-12-02 23:56] jmanico commented on #120
Abbas, when you hid all reported issues you demonstrated a major lack of integrity yet you still blame everyone else instead of taking personal responsibility for your actions. Not cool. I expect more from someone of your seniority.

##

Jim Manico
@Manicode

[2015-12-02 23:57] abiusx commented on #120
The lack of integrity is for the person who claims he is fair and objective, does nothing when the project gets wiped, but instanly reverts back any efforts that do not approve his views.

That’s what I call abusing influence. I really have no more respect for you Jim, specially after seeing your tweets :) Good luck.

[2015-12-03 00:03] jmanico commented on #120
All of the code is available in archive form.

Take a look at https://github.com/OWASP/phpsec a link to all of the old code is still there listed prominently near the top of this page.

So per your request I left the code and project up there and made all of the code prominently available. Thats called compromise. I did my best to hear all parties.

I only took over when you consciously edited the

[2015-12-03 00:05] abiusx commented on #120
My request is that you delete this project or maintain it yourself. I am no longer associated with it.

You did your best to hear all parties? I think you made multiple promises none of which you ever kept.

What where you thinking when you hid all the code? The issues were also available in the history of the project. Since the code was in the history, the issues of that code also belonged to the

[2015-12-03 00:54] jmanico commented on #120
Which ones? Please let me know.

There is a link to all of the code at the top of the repository! I made
sure it was a PROMINENT link.

You are responding to me on a public list. If you do not want to be
bothered, please consider removing yourself from this list. I am not
replying to your personal email, I am responding to the list.
- Jim

##

Jim Manico
Manicode Security
https://www.manicode.com

[2015-12-03 03:55] jmanico commented on #120
Hello folks,

http://phpsec.owasp.org now redirects to https://github.com/OWASP/phpsec

All good?
- Jim

On 12/2/15 2:10 PM, Scott wrote:

[2015-12-03 11:43] enygma commented on #120
Thank you @jmanico for your help on this. I appreciate you taking the time to work through this all with us.

[2015-12-03 14:18] jmanico commented on #120
If anyone knows of perhaps a university computer science team or other group who may wish to pick this project back up, let me know.

Also, if anyone cares to throw some SAST or other analysis at this and identify other real bugs, please file a few more.

To all volunteers who worked on this in any way - thank you for your efforts. There is no shame in not being able to work on a OSS project any m

[2015-12-04 00:37] SvenRtbg commented on #120
Only deleted code is the easiest to maintain, and the safest to run.

When I merged the proposed deletion of the project, I knew it was necessary making a very strong statement about this project's status. However human feelings have been hurt, and this makes me feel sorry, although it was somehow not to be avoided. If we'd had a constant flow of contributions improving the code, my decision would

[2015-12-04 18:22] jmanico commented on #120
Sadly, I agree which is why I did took the actions I did. :/

[2015-12-04 18:32] paragonie-scott commented on #120
I don't envy your position there, Jim, but I believe you made the right call.

What do you think of my above suggestion? There's already a ton of wheel reinventing and a lot of it's not very innovative. For example, [OpenCart's Encryption library is a joke](https://github.com/opencart/opencart/blob/4d6e8b2aa0940d41b9c61ffc975fb36f9da3c76d/upload/system/library/encryption.php).

[2015-12-04 18:38] jmanico commented on #120
Scott,

I would support ANY high quality and secure efforts to revive PHP
Security at OWASP (guides, framework help, etc).

[2016-11-03 20:45] mk-pmb commented on #108
Please excuse me for commenting late, I found this thread just today. I'll put in front those points that I think might still be worth a thought:

Should be a non-problem because composer should be able to run a post-install script that replaces the key, isn't it?

In some projects I did, where low security keys were needed, I took some randomness from modification dates of files, and where possib

[2018-12-02 02:12] ghost commented on #120
@jmanico @paragonie-scott There doesn't seem to be a single good all in one security guide on PHP anywhere on the web. Scott's recent guide on his blog is probably the best I've found, and it took time to find it. Would it be possible to revive this repo (or create a new one)?

[2018-12-03 11:27] mebjas commented on #120
A new library for best PHP security practices? Or a framework? Or a guide
maintained open source?

[2018-12-03 13:37] paragonie-scott commented on #120
I believe @danehrlich1 is referring to https://paragonie.com/blog/2017/12/2018-guide-building-secure-php-software ([source](https://paragonie.com/blog/2017/12/2018-guide-building-secure-php-software/source)).

[2018-12-04 01:03] ghost commented on #120
@mebjas It would be a guide. I returned to PHP after 5 years away and was extraordinarily frustrated at what was available for help with security.

@paragonie-scott's guide basically covers 90% of it, but it would on Github under OWASP so easier visibility and could be updated/commented on.

I am in PHP for the long haul now because of open source commitments I've made, so have the bandwidth to ru

[2018-12-04 01:10] ghost commented on #120
As an aside, also am starting to work with Senator Mark Warner's office to draft a letter to the PHP leadership. If security could be taken care of there at the lowest level, would be a lot easier for everyone.

Warner (D-VA) co-founded the Cybersecurity Caucus with Cory Gardner (R-CO) last year: https://www.warner.senate.gov/public/index.cfm/cybersecurity-caucus

[2018-12-04 07:47] mebjas commented on #120
Just to get more idea on your vision
 - How does it differ from set of articles on OWASP wiki?
 - Are there reference project like this?

:)

This might be a very good idea, but given the nature of how the language is used, lot of the things can only be done at higher level based on requirement, I believe.

[2018-12-04 07:54] paragonie-scott commented on #120
The entire reason we publish our blog posts' Markdown source code under a CC license is so that they can be easily forked into projects in a situation like this. If you'd like to adapt what is already written to cover 100% of what you're envisioning, feel free.

[2018-12-04 23:09] ghost commented on #120
I am talking to Chris Cornutt (he's in Austin by chance) tomorrow and I'll figure out next steps.

Plan as of now:
1. Fork @paragonie-scott's guide, add some more stuff, and place under OWASP
2. Revive super dead PHP stuff on OWASP like the below link. Maybe this just means linking to the yet-to-be-created repo: https://www.owasp.org/index.php/PHP_Security_Cheat_Sheet

QUESTION: Who gives authoriz

[2018-12-22 19:43] ghost commented on #120
@paragonie-scott @mebjas @jmanico

Do you all know how to get an OWASP wiki account? I already have an OWASP email, but I cannot for the life of me get a wiki account and I've reached out to several people.

I'd like to update stuff that is clearly wrong on the PHP wiki. Also @jmanico I'd like to add security header information (as long as you approve the edits) to some of the sections with no con